#menu-nav{
    background:transparent;
    height:auto;
    display:block;
    padding:25px 0 25px 0;
    margin:0 0 70px 0;
    // border:1px solid red;
    .wrapper-menu{
        max-width:98%;
        display:block;
        margin:0 auto 0 auto;

        .logo-menu{
            max-width:200px;
            display:block;
            img{
                width:100%;
            }
        }
        .nav{
            display:block;
            ul{
                float:right;
                margin:0;
                padding:0;
                text-align: center;
                background: #ffffff;
                padding:0 40px 0 40px;
                -webkit-border-top-left-radius: 40px;
                -moz-border-radius-topleft: 40px;
                border-top-left-radius: 40px;
                li{
                    display:inline-block;
                    vertical-align:top;
                    a{
                        width:100%;
                        height:100%;
                        display:block;
                        text-decoration: none;
                        p{
                            color:#33598b;
                            text-align:center;
                            line-height: 1;
                            margin:0;
                            padding: 10px 10px 10px 10px;
                            font-size:14px;
                        }
                    }
                }
            }
        }
    }
}
a.router-link-active, a.router-link-exact-active{
  color: red;
}